{%  extends 'base.html.twig'%}
{% block title %}
Dostępność toru
{% endblock %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.css">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.print.css" media="'print">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/reservation/calendar.css') }}">
{% endblock %}

{% block body %}
{{ parent() }}

<div class="loader"></div>
<div class="container">
    <div class="col-md-12 alertArea">
    </div>
    <h4 class="pageHeader">Dostępność toru</h4>
    {#<input type="text" class="datepicker float left" id="datePicking">#}
    <div class="shadow p-3 mb-5 bg-white rounded card">
        <div class="card-body">
            <div class="calendar-container">
                <div id="calendar">
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block javascripts %}
{{ parent() }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.js"></script>
<script src="{{ asset('js/reservation/calendar.js') }}"></script>
{%  endblock %}
