
{# app/Resources/views/number.html.twig #}
{%  extends 'base.html.twig'%}
{% block title %}
Rezerwacja
{% endblock %}

{% block stylesheets %}
{{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/reservation/reservation.css') }}">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.print.css" media="'print">
    <link rel="stylesheet" type="text/css" href="{{ asset('calendar/materialCalendar.css') }}">
{% endblock %}

{% block body %}
{{ parent() }}

<div class="loader"></div>
<div class="container">
    <div class="col-md-12 alertArea">
    </div>
    <h4 class="pageHeader">Rezerwacja</h4>
    <div class="row">
        <div class="col-md-6">
            <div class="shadow p-3 mb-5 bg-white rounded card">
                <div class="card-body">
                    <div class="row">
                        <form method="POST" action="#" id="reservationForm">
                            <div class="form-group">
                                <label for="reservationStart">Dzień</label>
                                <input type="text" class="form-control datePicker" id="exampleFormControlInput1">
                            </div>
                            <div class="form-group form-row">
                                <div class="col">
                                    <label for="reservationStart">Godzina rozpoczęcia</label>
                                    <input type="text" class="form-control timePicker" id="hourStartInput">
                                </div>
                                <div class="col">
                                    <label for="reservationStart">Godzina zakończenia</label>
                                    <input type="text" class="form-control" id="hourEndInput" disabled>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="reservationStart">Ilość przejazdów</label>
                                <input type="number" class="form-control" id="numberOfRidesInput">
                            </div>
                            <div class="form-group">
                                <label for="reservationStart">Ilość osób</label>
                                <input type="number" class="form-control" id="numberOfPeopleInput">
                            </div>
                            <div class="form-group">
                                <label for="reservationStart">Gokarty</label>

                            </div>
                            <div class="form-group">
                                <label for="reservationStart">Cena: </label>
                                <p></p>
                            </div>
                            <button type="submit" class="btn btn-primary">Rezerwuj</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="shadow p-3 mb-5 bg-white rounded card">
                <div class="card-body">
                    <span class="vehicleHeader">Wybrane pojazdy</span>
                    <span class="kartPerReservationCount"><span id="chosenGokartsNumber"></span><span id="numberOfPeoplePerReservation">Liczba osób</span></span>
                    <div class="row">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block javascripts %}
{{ parent() }}
    <script src="{{ asset('calendar/fullcalendar.js') }}"></script>
    <script src="{{ asset('js/reservation/reservation.js') }}"></script>
{%  endblock %}
