{%  extends 'base.html.twig'%}
{% block title %}
    Zarządzaj rezerwacjami
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/reservation/manageReservations.css') }}">
{% endblock %}

{% block body %}
    {{ parent() }}

    <div class="container">
        <div class="col-md-12 alertArea">
        </div>
        <h4 class="pageHeader">Zarządzaj rezerwacjami</h4>
        <div class="row">
            <div class="col-md-12 tableArea">
                <table class="table reservationsTable">
                    <thead>
                        <th>Data rozpoczęcia</th>
                        <th>Data zakończenia</th>
                        <th>Cena</th>
                        <th>Typ rezerwacji</th>
                        <th>Imię</th>
                        <th>Nazwisko</th>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/reservation/manageReservations.js') }}"></script>
{%  endblock %}
