{%  extends 'base.html.twig'%}
{% block title %}
    Rezerwacja
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/reservation/reservationDetails.css') }}">
{% endblock %}

{% block body %}
    {{ parent() }}
    <div class="loader"></div>
    <div class="container">
        <div class="col-md-12 alertArea">
        </div>
        <h4 class="pageHeader"><i class="fas fa-angle-left goBack reloadTable"></i>Szczegóły rezerwacji</h4>
        <div class="row">
            <div class="col-md-12">
                <table class="table reservationDetailsTable" reservation-id="{{ reservation.id }}">
                    <tbody>
                    <tr>
                        <td class="headerRow">Data</td>
                        <td class="infoRow">{{ date }}</td>
                    </tr>
                    <tr>
                        <td class="headerRow">Godzina rozpoczęcia</td>
                        <td class="infoRow">{{ startDateHour }}</td>
                    </tr>
                    <tr>
                        <td class="headerRow">Godzina zakończenia</td>
                        <td class="infoRow">{{ endDateHour }}</td>
                    </tr>
                    <tr>
                        <td class="headerRow">Cena</td>
                        <td class="infoRow">{{ reservation.cost }} zł</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            {% if not reservation.byTimeReservationType %}
                <div class="col-md-12">
                    <ul class="list-group">
                        <li class="list-group-item"><h5>Pojazdy</h5></li>
                        {% if not karts %}
                            <li class="list-group-item">Brak pojazdow uczestników</li>
                        {% endif %}
                        {% for kart in karts %}
                            <li class="list-group-item">{{ kart.name }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% elseif reservation.description %}
                <div class="col-md-12">
                    <div class="card">
                        <h5 class="card-header">Opis i informacje pomocnicze</h5>
                        <div class="card-body">
                            {{ reservation.description }}
                        </div>
                    </div>
                </div>
            {% endif %}
            {% if byTimeReservationType %}
                <div class="col-md-12">
                    <button class="btn btn-primary deleteReservationBtn">Anuluj rezerwacje</button>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="modal fade" id="reservationDeleteConfirmationModal" tabindex="-1" role="dialog" aria-labelledby="getKartModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                </div>
                <p id="deleteReservationHeader">Czy na pewno chcesz anulować tą rezerwację?</p>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
                    <button id="confirmDeletetingReservationBtn" type="button" class="btn btn-primary" data-dismiss="modal">Zatwierdź</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/reservation/reservationDetails.js') }}"></script>
{%  endblock %}
