{%  extends 'base.html.twig'%}
{% block title %}
    Rezerwacja
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/reservation/timeTypeReservation.css') }}">
{% endblock %}
{% block body %}
    {{ parent() }}
    <div class="loader"></div>
    <div class="container">
        <div class="col-md-12 alertArea">
        </div>
        <h4 class="pageHeader">Rezerwacja</h4>
        <div class="row">

        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/reservation/timeTypeReservation.js') }}"></script>
{%  endblock %}
