{%  extends 'base.html.twig'%}
{% block title %}
    Twoje rezerwacje
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/reservation/userReservation.css') }}">
{% endblock %}

{% block body %}
    {{ parent() }}
    <div class="loader"></div>
    <div class="container">
        <div class="col-md-12 alertArea">
        </div>
        <h4 class="pageHeader">
            Twoje rezerwacje
        </h4>
        <div class="row">
            <div class="col-md-12">
                {% if reservations %}
                <table class="table reservationTable">
                    <thead>
                        <th>Data</th>
                        <th>Rozpoczęcie</th>
                        <th>Zakończenie</th>
                        <th>Koszt (zł)</th>
                        <th></th>
                    </thead>
                    <tbody>
                    {% for reservation in reservations %}
                        <tr class="reservation-row" reservation-id="{{ reservation.id }}">
                            <td>{{ reservation.startDate }}</td>
                            <td>{{ reservation.startDateHourAndMinutes }}</td>
                            <td>{{ reservation.endDateHourAndMinutes }}</td>
                            <td>{{ reservation.cost }}</td>
                            <td class="reservation-options">
                                <button type="button" class="showDetailsReservationBtn btn btn-info">Szczegóły rezerwacji</button>
                                <button type="button" class="deleteReservationBtn btn btn-danger">Anuluj rezerwacje</button>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% else %}
                    <p>Aktualnie nie masz żadnych rezerwacji</p>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="modal fade" id="reservationDeleteConfirmationModal" tabindex="-1" role="dialog" aria-labelledby="getKartModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                </div>
                <p id="deleteReservationHeader">Czy na pewno chcesz anulować tą rezerwację?</p>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
                    <button id="confirmDeletetingReservationBtn" type="button" class="btn btn-primary" data-dismiss="modal">Zatwierdź</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/reservation/userReservation.js') }}"></script>
{%  endblock %}
