{%  extends 'base.html.twig'%}
{% block title %}
    Dodaj aktualność
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {#<link rel="stylesheet" type="text/css" href="{{ asset('css/dashboard/dashboard.css') }}">#}
{% endblock %}
{% block body %}
    {{ parent() }}
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                {{ form_start(newsForm) }}
                {{ form_end(newsForm) }}
            </div>
            <div class="col-md-6 imageArea">
                <div class="card">
                    <div class="card-body">
                        {% if filePath %}
                            <img src="{{ asset('images/karts/'~filePath~'') }}" id="imageUploaded" class="img-fluid rounded mx-auto d-block">
                        {% else %}
                            <p class="noImageHeader">Brak zdjęcia</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/dashboard/addNews.js') }}"></script>
{%  endblock %}
