{%  extends 'base.html.twig'%}
{% block title %}
    Aktualności
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/dashboard/dashboard.css') }}">
{% endblock %}
{% block body %}
    {{ parent() }}
    <div class="loader"></div>
    <div class="container">
        <div class="col-md-12 alertArea">
        </div>
        <div class="row">
           {% if newsList %}
               {% for news in newsList %}
                   <div class="col-md-12 news" news-id="{{ news.id }}">
                       <div class="card">
                           <div class="card-body">
                               <div class="row">
                                   {% if news.file %}
                                       {% if news.description %}
                                           <div class="col-md-6">
                                               {% if is_granted('ROLE_ADMIN') %}
                                                   <p class="delete-area"><i class="fa fa-trash deleteNewsIcon"></i></p>
                                               {% endif %}
                                               <div class="content-area">
                                                   <div class="date-area"><small class="form-text text-muted">{{ news.date|date('Y-m-d') }}</small></div>
                                                   <div class="info-area">
                                                       {{ news.description }}
                                                   </div>
                                               </div>
                                           </div>
                                           <div class="col-md-6">
                                               <img class="card-img-top" src="{{ asset('images/news/'~news.file~'') }}" alt="Card image cap">
                                           </div>
                                       {% else %}
                                           <div class="col-md-12">
                                               {% if is_granted('ROLE_ADMIN') %}
                                                   <p class="delete-area"><i class="fa fa-trash deleteNewsIcon"></i></p>
                                               {% endif %}
                                               <img class="card-img-top" src="{{ asset('images/news/'~news.file~'') }}" alt="Card image cap">
                                           </div>
                                       {% endif %}
                                   {% else %}
                                       <div class="col-md-12">
                                           {% if is_granted('ROLE_ADMIN') %}
                                               <p class="delete-area"><i class="fa fa-trash deleteNewsIcon"></i></p>
                                           {% endif %}
                                           <div class="content-area">
                                               <div class="date-area"><small class="form-text text-muted">{{ news.date|date('Y-m-d') }}</small></div>
                                               <div class="info-area">
                                                   {{ news.description }}
                                               </div>
                                           </div>
                                       </div>
                                   {% endif %}
                               </div>
                           </div>
                       </div>
                   </div>
               {% endfor %}
           {% else %}
               <div class="noData-area">
                    <p class="noData">Obecnie brak aktualności</p>
               </div>
           {% endif %}
        </div>
    </div>
    <div class="modal fade" id="newsDeleteConfirmationModal" tabindex="-1" role="dialog" aria-labelledby="newsDeleteConfirmationModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Czy na pewno chcesz usunąć ten post?</p>
                    <p>Po usunięciu użytkownicy <strong>nie będą mogli już go zobaczyć.</strong></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
                    <button id="confirmDeletetingNewsBtn" type="button" class="btn btn-confirm-modal" data-dismiss="modal">Zatwierdź</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/dashboard/dashboard.js') }}"></script>
{%  endblock %}
