{%  extends 'base.html.twig'%}
{% block title %}
    Rejestracja
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/registration/registration.css') }}">
{% endblock %}

{% block body %}
    {{ parent() }}
    <div class="container">
        {% if dataSuccessChange %}
            <div class="col-md-12 alertArea">
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">X</span>
                    </button>
                    <strong>Poprawnie zaktualizowane dane</strong>
                </div>
            </div>
        {% endif %}
        <div class="row">
            <div class="col-md-4 offset-md-4 registrationArea">
                <div class="shadow p-3 mb-5 bg-white rounded card">
                    <div class="card-title">Edycja profilu</div>
                    {{ form_start(userForm) }}
                    <div class="form-group">
                        {{ form_label(userForm.email) }}
                        {{ form_widget(userForm.email) }}
                        <small class="formErrorMessage">{{ form_errors(userForm.email) }}</small>
                        {{ form_help(userForm.email) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(userForm.password.first) }}
                        {{ form_widget(userForm.password.first) }}
                        {{ form_help(userForm.password.first) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(userForm.password.second) }}
                        {{ form_widget(userForm.password.second) }}
                        {{ form_help(userForm.password.second) }}
                        <small class="formErrorMessage">{{ form_errors(userForm.password.first) }}</small>
                    </div>
                    <div class="form-group">
                        {{ form_label(userForm.name) }}
                        {{ form_widget(userForm.name) }}
                        <small class="formErrorMessage">{{ form_errors(userForm.name) }}</small>
                        {{ form_help(userForm.name) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(userForm.surname) }}
                        {{ form_widget(userForm.surname) }}
                        <small class="formErrorMessage">{{ form_errors(userForm.surname) }}</small>
                        {{ form_help(userForm.surname) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(userForm.birthDate) }}
                        {{ form_widget(userForm.birthDate) }}
                        <small class="formErrorMessage">{{ form_errors(userForm.birthDate) }}</small>
                        {{ form_help(userForm.birthDate) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(userForm.pesel) }}
                        {{ form_widget(userForm.pesel) }}
                        <small class="formErrorMessage">{{ form_errors(userForm.pesel) }}</small>
                        {{ form_help(userForm.pesel) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(userForm.documentID) }}
                        {{ form_widget(userForm.documentID) }}
                        <small class="formErrorMessage">{{ form_errors(userForm.documentID) }}</small>
                        {{ form_help(userForm.documentID) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(userForm.telephoneNumber) }}
                        {{ form_widget(userForm.telephoneNumber) }}
                        <small class="formErrorMessage">{{ form_errors(userForm.telephoneNumber) }}</small>
                        <small class="form-text text-muted">{{ form_help(userForm.telephoneNumber) }}</small>
                    </div>
                    <div class="form-group">
                        {{ form_row(userForm.submit, {'label': 'Zapisz zmiany'}) }}
                    </div>
                    {{ form_end(userForm) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/registration/registration.js') }}"></script>
{%  endblock %}
