
{# app/Resources/views/number.html.twig #}
{%  extends 'base.html.twig'%}
{% block title %}
    Login
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/login/login.css') }}">
    {#<style>#}
        {#body{#}
            {#background:url({{ asset('images/track.png') }}) no-repeat center;#}

        {#}#}
    {#</style>#}
{% endblock %}

{% block body %}

        <div class="imageBackground">

        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-4 offset-md-4 loginArea">
                    <div class="shadow p-3 mb-5 bg-white rounded card loginCard">
                        <div class="card-body">
                            <div class="headerLoginArea">
                                <h2 class="headerLogin">Gokart arena</h2>
                            </div>
                            <div class="jumbotron jumbotron-fluid formArea">
                                {% if error %}
                                    <p>Błędny email lub hasło</p>
                                    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                                {% endif %}
                                <form action="{{ path('login') }}" method="POST">
                                    <div class="form-group">
                                        <label for="email" class="loginLabel">Login</label>
                                        <input type="email" name="_username" class="form-control" required id="email" placeholder="Login" value="{{ lastUserEmail }}">
                                    </div>
                                    <div class="form-group">
                                        <label for="email" class="loginLabel">Hasło</label>
                                        <input type="password" name="_password" class="form-control" required id="password" placeholder="Hasło" >
                                    </div>
                                    <div class="form-group">
                                        <button class="btn btn-info" type="submit" id="singInButton">Zaloguj się</button>
                                    </div>
                                    <p id="noAccountLabel">Nie posiadasz jeszcze konta?</p>
                                    <a href="{{ path('registration') }}" id="register">Zarejestruj się</a>
                                    <input type="hidden" name="_target_path" value="{{ path('laps') }}" />
                                </form>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{%  endblock %}
