<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand logoTitle" href="#">GokartTrack</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ">
            <li class="nav-item active">
                <a class="nav-link" href="#">Aktualności <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ asset(path('reservation/index')) }}">Rezerwacja</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ asset(path('reservation/calendar')) }}">Dostępność toru</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                   Strefa klienta
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="{{ asset(path('recording/index')) }}">Twoje nagrania</a>
                    <a class="dropdown-item" href="#">Twoje przejazdy</a>
                    <a class="dropdown-item" href="{{ asset(path('reservation/userReservation')) }}">Twoje rezerwacje</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ asset(path('laps/record/index')) }}">Rekordy</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ asset(path('vehicle/index')) }}">Pojazdy</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Kontakt</a>
            </li>

        </ul>
        <ul class="navbar-nav  ml-auto navbarRightArea">
            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            <li class="nav-item"><span class="nav-link" id="userName"> {{ app.user.name }}</span></li>
            {% endif %}
            <li class="nav-item dropdown">
                <i class="far fa-user userIcon dropdown-toggle" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink2">
                    <a class="dropdown-item" href="{{ asset(path('registration/editUserData')) }}">Twój profil</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ asset(path('logout')) }}" id="logout">Wyloguj się</a>
            </li>
        </ul>
    </div>
</nav>