{%  extends 'base.html.twig'%}
{% block title %}
    Rejestracja
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/registration/registration.css') }}">
{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <a href="javascript:void(0)"><i class="fas fa-arrow-left arrowBack"></i></a>
            </div>
            <div class="col-md-4 offset-md-4 registrationArea">
                <div class="shadow p-3 mb-5 bg-white rounded card">
                    <div class="card-title">Rejestracja</div>
                    {{ form_start(userLoginForm) }}
                    <div class="form-group">
                        {{ form_label(userLoginForm.email) }}
                        {{ form_widget(userLoginForm.email) }}
                        <small class="formErrorMessage">{{ form_errors(userLoginForm.email) }}</small>
                        {{ form_help(userLoginForm.email) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(userLoginForm.password.first) }}
                        {{ form_widget(userLoginForm.password.first) }}
                        {{ form_help(userLoginForm.password.first) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(userLoginForm.password.second) }}
                        {{ form_widget(userLoginForm.password.second) }}
                        {{ form_help(userLoginForm.password.second) }}
                        <small class="formErrorMessage">{{ form_errors(userLoginForm.password.first) }}</small>
                    </div>
                    <div class="form-group">
                        {{ form_label(userLoginForm.name) }}
                        {{ form_widget(userLoginForm.name) }}
                        <small class="formErrorMessage">{{ form_errors(userLoginForm.name) }}</small>
                        {{ form_help(userLoginForm.name) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(userLoginForm.surname) }}
                        {{ form_widget(userLoginForm.surname) }}
                        <small class="formErrorMessage">{{ form_errors(userLoginForm.surname) }}</small>
                        {{ form_help(userLoginForm.surname) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(userLoginForm.birthDate) }}
                        {{ form_widget(userLoginForm.birthDate) }}
                        <small class="formErrorMessage">{{ form_errors(userLoginForm.birthDate) }}</small>
                        {{ form_help(userLoginForm.birthDate) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(userLoginForm.pesel) }}
                        {{ form_widget(userLoginForm.pesel) }}
                        <small class="formErrorMessage">{{ form_errors(userLoginForm.pesel) }}</small>
                        {{ form_help(userLoginForm.pesel) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(userLoginForm.documentID) }}
                        {{ form_widget(userLoginForm.documentID) }}
                        <small class="formErrorMessage">{{ form_errors(userLoginForm.documentID) }}</small>
                        {{ form_help(userLoginForm.documentID) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(userLoginForm.telephoneNumber) }}
                        {{ form_widget(userLoginForm.telephoneNumber) }}
                        <small class="formErrorMessage">{{ form_errors(userLoginForm.telephoneNumber) }}</small>
                        {{ form_help(userLoginForm.telephoneNumber) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(userLoginForm.submit) }}
                        {{ form_widget(userLoginForm.submit) }}
                    </div>
                    {{ form_end(userLoginForm) }}
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close closeWindow" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body modalBodyArea">
                    <span>Poprawnie zarejestrowano</span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary closeWindow">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/registration/registration.js') }}"></script>
    {% if sucessfulRegistration %}
        <script>
            $('#exampleModal').modal('show');
        </script>
    {% endif %}
{%  endblock %}
