{%  extends 'base.html.twig'%}
{% block title %}
    Pojazdy
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/vehicle/vehicle.css') }}">
{% endblock %}

{% block body %}
    {{ parent() }}

    <div class="loader"></div>
    <div class="container">
        <div class="col-md-12 alertArea">
        </div>
        <h4 class="pageHeader">Pojazdy</h4>
        {% if rideTimeInfo.rideCount and rideTimeInfo.timePerRide %}
            <div class="prize-per-ride-area">
                <i class="fas fa-flag-checkered race-icon"></i><span>{{ rideTimeInfo.rideCount }} przejazd trwa <strong>{{ rideTimeInfo.timePerRide }} min</strong></span>
            </div>
        {% endif %}
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                {% if karts %}
                    {% for kart in karts %}
                            <div class="col-md-6 kartCol">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title kartName">{{ kart.name }}</h5>
                                        <div class="row">
                                            <div class="col-md-6">
                                                {% if kart.file %}
                                                    <img class="card-img-top" src="{{ asset('images/karts/'~kart.file~'') }}" alt="Card image cap">
                                                {% endif %}
                                            </div>
                                            <div class="col-md-6">
                                                <ul class="list-group">
                                                    {% if kart.prize %}
                                                        <li class="list-group-item">Cena za przejazd:
                                                            <span>{{ kart.prize }} zł</span>
                                                        </li>
                                                    {% endif %}
                                                    {% if kart.kartTechnicalData %}
                                                        {% if kart.kartTechnicalData.power %}
                                                            <li class="list-group-item">Moc:
                                                                <span>{{ kart.kartTechnicalData.power }}</span>
                                                            </li>
                                                        {% endif %}
                                                        {% if kart.kartTechnicalData.vmax %}
                                                            <li class="list-group-item">Prędkość maksymalna:
                                                                <span>{{ kart.kartTechnicalData.vmax }}km/h</span>
                                                            </li>
                                                        {% endif %}
                                                        {% if kart.kartTechnicalData.engine %}
                                                            <li class="list-group-item">Silnik:
                                                                <span>{{ kart.kartTechnicalData.engine }}</span>
                                                            </li>
                                                        {% endif %}
                                                    {% endif %}
                                                </ul>
                                            </div>
                                            <div class="col-md-12 descriptionArea">
                                                <div class="card-header">Opis pojazdu</div>
                                                {{ kart.description }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    {% endfor %}
                {% else %}
                    <div class="noData-area">
                        <p class="noData">Aktualnie brak dostępnych pojazdów</p>
                    </div>
                {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{%  endblock %}
