{%  extends 'base.html.twig'%}
{% block title %}
    Zarządzaj pojazdami
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/vehicle/manageVehicles.css') }}">
{% endblock %}

{% block body %}
    {{ parent() }}

    <div class="container">
        <div class="col-md-12 alertArea">
        </div>
        <h4 class="pageHeader">Zarządzaj pojazdami</h4>
        <div class="row">
            <div class="col-md-12">
                <a class="btn btn-primary" id="addKartBtn" href="{{ asset(path('/vehicle/addKart')) }}">Dodaj gokart</a>
            </div>
            <div class="col-md-12 tableArea">
                    <table class="table kartTable">
                        <thead>
                            <th>Nazwa</th>
                            <th>Cena za przejazd</th>
                            <th>Dostępność</th>
                            <th>Opcje</th>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/vehicle/manageVehicles.js') }}"></script>
{%  endblock %}
