{%  extends 'base.html.twig'%}
{% block title %}
    Zarządzaj pojazdami
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/vehicle/manageVehicles.css') }}">
{% endblock %}

{% block body %}
    {{ parent() }}

    <div class="container">
        <div class="col-md-12 alertArea">
        </div>
        <h4 class="pageHeader">Zarządzaj pojazdami</h4>
        <div class="row">
            <div class="col-md-12">
                <button class="btn btn-primary" id="addKartBtn" data-toggle="modal" data-target="#manageKartModal">Dodaj gokart</button>
            </div>
            <div class="col-md-12 tableArea">
                <table class="table kartTable">
                    <thead>
                    <th>Nazwa</th>
                    <th>Cena za przejazd</th>
                    <th>Dostępność</th>
                    </thead>
                    <tbody>
                    {#{% for reservation in reservations %}#}
                        {#<tr class="reservation-row" reservation-id="{{ reservation.id }}">#}
                            {#<td>{{ reservation.startDate }}</td>#}
                            {#<td>{{ reservation.endDate }}</td>#}
                            {#<td>{{ reservation.cost }}zł</td>#}
                            {#<td class="reservation-options">#}
                                {#<button type="button" class="showDetailsReservationBtn btn btn-info">Szczegóły rezerwacji</button>#}
                                {#<button type="button" class="deleteReservationBtn btn btn-danger">Anuluj rezerwacje</button>#}
                            {#</td>#}
                        {#</tr>#}
                    {#{% endfor %}#}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="modal fade" id="manageKartModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {#{{ form(kartForm) }}#}
                    {{ form_start(kartForm) }}
                    <div class="form-group">
                        {{ form_label(kartForm.name) }}
                        {{ form_widget(kartForm.name) }}
                        <small class="formErrorMessage">{{ form_errors(kartForm.name) }}</small>
                        {{ form_help(kartForm.name) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(kartForm.prize) }}
                        {{ form_widget(kartForm.prize) }}
                        <small class="formErrorMessage">{{ form_errors(kartForm.prize) }}</small>
                        {{ form_help(kartForm.prize) }}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    {{ form_row(kartForm.submit, {'label': 'Zapisz zmiany'}) }}
                    {{ form_end(kartForm) }}
                    {#<button type="button" class="btn btn-primary">Save changes</button>#}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/vehicle/manageVehicles.js') }}"></script>
{%  endblock %}
